@orimary-color:rgb(0, 106, 255);
@font-name: 'segoe UI',sans-serif;
@padding: 12px;
@button-radius: 6px;
@color: white;
@body-color:black;
body {
    font-family: @font-name;
    background-color: lighten(@orimary-color,40%);
    padding: @padding;
}
h1 {
    color: @orimary-color;
}
button {
    background-color: @orimary-color;
    color: @color;
    padding: @padding;
    border: none;
    border-radius: @button-radius;
}




