:root{
    --main-color: yellow;
    --padding-size: 10px;
    --text-color: white;

}

.container{
    background-color: var(--main-color);
    padding: var(--padding-size);
    border: 1px dotted white;
    color: var(--text-color);
    font-weight: bold;
    width: 300px;
    margin: 20 auto;
    text-align: center;
}